
.logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
}
.landingPage-Bg {
  background: #1a73e8;
  height: 100vh;
  display: flex;
  font-family: 'alata-regular';
}
.landingBgImg {
    background-image: url('../assets/landingBgImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin: 3rem;
    width: 100%;
    border-radius: 2rem;
    align-items: center ;
}
.landingPage-MainAbout {
  margin-left: 5rem;
    /* margin-top: 15%; */
}
.landingPage-outlet {
  margin: 5rem 5rem 5rem 0rem;
}
.landingBtn {
    border-radius: 1rem !important;
    box-shadow: 0 4px 9px -4px #3b71ca;
    padding: 0.65rem 1.25rem;
}