.logoWatermark {
    font-family: 'alata-regular';
    position: absolute;
    color: lightseagreen;
    right: 1rem;
    bottom: 1rem;
    opacity: 0.4;
    /* animation-name: roundaction;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    animation-direction: normal;
    animation-iteration-count: 1;  */
  }
  
  /* @keyframes roundaction {
    0% {
        right: 1rem;
        bottom: 30%;
    }
    75% {
        right: 1rem;
        bottom: 30%;
    }
    
    100% {
      right: 1rem;
      bottom: 1rem;
    }
  } */
  